// src/styles/_variables.scss
$primary-color: #f8f2df;
$secondary-color: #2680ff;
$terciary-color: #ff00ff;
$optional-color: #ffcc00;
$text-color: #333;
$background-color: #ffffff;
$font-family: 'Poppins', sans-serif;
$border-radius: 10px;
$transition: all 0.3s ease;