// src/styles/_variables.scss
$primary-color: #4C338C;
$secondary-color: #5FBCCB;
$terciary-color: #D94C94;
$optional-color: #ffcc00;
$text-color: #333;
$background-color: #ffffff;
$font-family: 'Poppins', sans-serif;
$border-radius: 10px;
$transition: all 0.3s ease;