// src/componentes/Loader.scss
@import '../styles/_variables';

.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    font-family: $font-family;
    color: $secondary-color;
  }
  
  .loader-lottie {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: solid 4px $secondary-color;
  }
  